
<script>
    var keys = "<%- key  %>"
</script>

<section class="omdb-app__list--area">
    <div class="result-items-area">
        <div class="search-result-area">
            <div class="search-key-count-key-area">
                <h1> <span class="search-key"> <%- key %> </span> için Sonuçlar </h1>
                <div class="search-count">
                    <span class="search-key-count"> <%- pageData.length %> </span> sonuç bulundu
                </div>
            </div>
            <div class="search-result-close-area" data-js="search-close">
                <img class="close-img" src="/close.png">
            </div>
        </div>
    </div>
    <div class="search-result-items">
            <div class="item-list" data-js="item-list-area" >
                <% 
                for (var i in pageData) {
                    var currentItem = pageData[i];
                    %>
                    <div class="item d-none">
                        <div class="item--img-area" data-item-bind="item-img" >
                            <picture>
                                <source media="(min-width: 650px)" srcset="/loading.gif">
                                <source media="(min-width: 465px)" srcset="/loading.gif">
                                <img src="/loading.gif" alt="">
                            </picture>
                        </div>
                        <div class="item--content-area">
                            <div class="item--name-star-count-area">
                                <h2 data-item-bind="item-name"  class="item--name">The TRON: Legacy (2010) </h2>
                                <div class="item--star-count">
                                    <img src="/item-star.png">
                                    <div data-item-bind="item-imdb-point"  class="star-count">6.8
                                        <span data-item-bind="item-imdb-level" class="start-count-level"> /10 </span>
                                    </div>
                                </div>
                            </div>
                            <div class="item--specific-info-area" data-item-bind="item-description">
                                Dil: İngilizce
                                Oyuncular: Jeff Bridges, Garrett Hedlund, Olivia Wilde |
                                <a data-item-bind="item-url" href="">Tüm listeyi gör »</a>
                            </div>
                            <div class="item--description-area" data-item-bind="item-description2">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                                tincidunt ut
                                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad…
                                <a data-item-bind="item-url" href="">Detaylar »</a>
                            </div>
                        </div>
                    </div>
                <% } %>  
            </div>
        </div>
</section>