$baseColor: #00ffc8;
$borderColor: gray;
$colorBg : #f7f9fd;
$colorBlue: #5883ff;
$font_family: "Maax", sans-serif;
$background_color_1: #f7f9fd;
$border_color_1: transparent transparent #ffffff transparent;



